.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/4pk7Ppc/lino-lakes-C2-Sz-Uyg3-PPQ-unsplash.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
